html,
body {
  height: 100%;
}

.vjs-live-icon {
  background: red !important;
  width: min-content !important;
  width: 10px !important;
  border-radius: 50% !important;
  height: 10px !important;
  margin-block: auto !important;
  margin-right: 5px !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.no-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

@media (min-width: 769px) {
  .otnansirk-theater-mode-button .video-js-content,
  .otnansirk-theater-mode-button .video-js-curriculum {
    margin-top: 35rem;
  }
}
@media (min-width: 769px) {
  .otnansirk-theater-mode-button .video-js-player {
    position: absolute;
    width: 97%;
  }
}
