html,
body {
  height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.no-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.media-controller {
  min-width: 100%;
}

.vjs-live-icon {
  background: red !important;
  width: min-content !important;
  width: 10px !important;
  border-radius: 50% !important;
  height: 10px !important;
  margin-block: auto !important;
  margin-right: 5px !important;
}

.vjs-playback-rate {
  font-size: 6px;
}

.video-js {
  min-height: 600px;
}
